server:
  port: 8080
spring:
  datasource:
    username: root
    password: Lgb@0409.
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://124.220.78.37:3306/jayden-frame?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=UTC
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      initial-size: 20
      min-idle: 20
      max-active: 100
      max-wait: 60000
      stat-view-servlet:
        enabled: true
        url-pattern: /druid/*
        login-username: admin
        login-password: admin
      filter:
        stat:
          enabled: true
          log-slow-sql: true
          slow-sql-millis: 2000
        wall:
          enabled: true
sql:
  beauty:
    show: true
mybatis-plus:
  mapper-locations: classpath:mapper/*.xml
  global-config:
    db-config:
      logic-delete-field: delete_flag
      logic-delete-value: 1
      logic-not-delete-value: 0

# swagger
swagger:
  base-package: com.jayden
  title: jayden-frame
  description: jayden脚手架
  version: 1.0.0
  contact-name: jayden
  contact-url: www.jayden.com
  contact-email: jayden@163.com
